{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true
}
